@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white;
  cursor: none;
}

/* Hide default cursor */
* {
  cursor: none !important;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-600;
}